/* LIGHT MODE */
.date-disabled {
  background-color: #f3f4f6 !important; /* gray-100 */
  border-color: #d1d5db !important; /* gray-300 */
  color: #6b7280 !important; /* gray-500 */
  cursor: not-allowed;
}

/* DARK MODE */
.dark .date-disabled {
  background-color: #374151 !important; /* gray-700 */
  border-color: #4b5563 !important; /* gray-600 */
  color: #9ca3af !important; /* gray-400 */
}

.date-disabled:disabled {
  -webkit-text-fill-color: #9ca3af !important;
  opacity: 1 !important;
}

.date-disabled + span {
  opacity: 0.35;
  pointer-events: none;
}
